.footer {
    padding: 12px 0;
    background-color: $accent;
    position: relative;

    @media (max-width:1024px) {
        padding: 10px 0;
    }

    // .footer__bgi
    &__bgi {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        mix-blend-mode: multiply;
    }

    // .footer__container
    &__container {}

    // .footer__body
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 60px;
        position: relative;
        z-index: 1;
        min-height: 100vh;

        @media (max-width:1024px) {
            gap: 70px;
        }

        ul {
            @media (min-width:1025px) {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 12px;
            }

            @media (max-width:1024px) {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }

            li {
                display: flex;
                flex-direction: column;
                height: fit-content;
                gap: 6px;

                @media (max-width:1024px) {
                    gap: 10px;
                }

                label {
                    height: fit-content;
                    padding: 5px;
                    background-color: $white;
                    color: $black;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin-bottom: 6px;
                }

                a:not(._btn) {
                    display: block;
                    color: $white;
                }
            }
        }

        li:has(._btn) {
            @media (max-width:1024px) {
                order: 1;
                margin-top: 40px;
            }
        }
    }

    // .footer__bottom
    &__bottom {
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $white;
            margin-bottom: 12px;

            @media (max-width:1024px) {
                margin-bottom: 10px;
            }
        }
    }

    // .footer__logo
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;

        img,
        svg,
        picture {
            width: 100%;
            object-fit: contain;
        }
    }
}