.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 12px;
    z-index: 6;

    @media (max-width:1024px) {
        padding-top: 10px;
    }

    // .header__container
    &__container {}

    // .header__body
    &__body {
        ul {
            @media (min-width:1025px) {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 12px;
            }

            @media (max-width:1024px) {
                gap: 10px;
            }

            li {
                height: fit-content;
                padding: 5px;
                background-color: $black;
                color: $white;
                display: flex;
                align-items: center;
                gap: 5px;

                @media (max-width:1024px) {
                    display: none;
                }
            }
        }
    }

    // .header__burger
    &__burger {
        @media (min-width:1025px) {
            display: none;
        }

        ._menu-close {
            display: none;
        }

        &._active {
            label {
                display: none;
            }

            ._menu-close {
                display: block;
            }
        }
    }
}

.mobile-hedaer {
    display: flex !important;
    justify-content: space-between;

    @media (min-width:1025px) {
        display: none;
    }
}