.menu {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 39px;
    width: 100%;
    height: calc(100% - 44px);
    overflow: hidden;
    overflow-y: auto;
    transform: translate(0, -150%);
    pointer-events: none;
    transition: transform 1.2s cubic-bezier(0.16, 1.08, 0.38, 0.98);

    &._open {
        transform: translate(0, 0);
        pointer-events: all;
    }

    // .menu__body
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 60px;
        background: $black;
        padding: 5px;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 60px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 5px;

            li {
                padding: 5px;
                background-color: $white;
                padding: 5px;

                a {
                    font-size: 14px;
                    color: $black;
                }
            }
        }
    }

    ._btn {
        height: 160px;
        width: 100%;
    }

    // .menu__portfolio
    &__portfolio {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            font-size: 18px;
            font-style: italic;
            color: $white;
            width: 100%;
            text-align: center;
        }
    }

    // .menu__bottom
    &__bottom {
        margin-top: auto;
        color: $white;

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        img,
        svg {
            width: 100%;
            object-fit: contain;
        }
    }
}