$container: 1920;
$padding: 12;
$containerWithPadding: $container + ($padding * 2);
$red: #FF0000;
$accent: #0012FF;
$black: #080808;
$white: #fff;
$grey: #6B6B6B;
$grey-stroke: rgba(8, 8, 8, 0.20);
$white-stroke: rgba(255, 255, 255, 0.40);
$black-stroke: #080808;