.hero {
    margin-top: 0 !important;
    @include adaptive-value('padding-top', 150, 70, 1);

    &.hero-pages {
        h1 {
            @include adaptive-value('margin-bottom', 150, 70, 1);
        }
    }

    // .hero__portfolio
    &__portfolio {
        display: flex;
        align-items: center;
        gap: 12px;

        a{
            font-style: italic;
        }
    }

    .section__top {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;

        @media (max-width:1024px) {
            gap: 10px;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 40px;
        }

        @media (max-width:768px) {
            display: block;
        }
    }

    .section__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-column: span 2;

        @media (min-width:769px) {
            height: auto;
        }

        @media (max-width:1024px) {
            gap: 15px;
        }

        @media (max-width:768px) {
            margin-bottom: 40px;
        }

        p {
            @media (min-width:1025px) {
                margin-left: auto;
            }
        }
    }

    .section__bottom {
        @media (min-width:1025px) {
            position: relative;
            margin-top: -27px;
        }

        div:not(.hero__portfolio) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        a {
            font-size: 20px;

            @media (max-width:1024px) {
                font-size: 16px;
            }
        }

        img,
        picture,
        svg {
            display: block;
            width: 100%;
            object-fit: contain;
            pointer-events: none;
            margin-top: 24px;

            @media (max-width:1024px) {
                margin-top: 5px;
            }
        }
    }

    ._btn {
        width: 100%;

        @media (min-width:1025px) {
            aspect-ratio: 1/1;
        }

        @media (max-width:1024px) {
            height: 160px;
        }
    }
}