@font-face {
	font-family: HelveticaNeue;
	font-display: swap;
	src: url("../fonts/HelveticaNeue-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue-Roman.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: timesnewromanpsmt;
	font-display: swap;
	src: url("../fonts/timesnewromanpsmt.woff2") format("woff2"), url("../fonts/timesnewromanpsmt.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
